body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 100%;
}

div.header {
    text-align: center;
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: Blue;
    margin-bottom: 10px;
    font-size: 125%;
    font-family: Garamond, Georgia, serif;
}

img.logo {
    margin-bottom: 10px;
}

img.logo.side {
    height: 149px;
    margin-left: 10px;
    margin-right: 10px;
}

img.logo.side.right {
    float: right;
}

img.logo.side.left {
    float: left;
}

table.nav {
    width: 100%;
}

table.nav td {
    width: 20%;
    text-align: center;
}

h1 {
    text-align: center;
}

img.main_pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

div.addl_info {
    clear: both;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: Blue;
    margin-bottom: 10px;
}

ul.availability_list {
    display:inline-block;
    padding:0;
    margin-top: 0;
    margin-bottom: 0;
    text-align:center
}

ul.availability_list li {
    display: inline;
    white-space: nowrap;
}

/* Got this solution from Tom Robinson here: https://stackoverflow.com/questions/15306108/how-to-style-a-horizontal-list-with-bullets-between-items-using-css.
    It adds a space with a background image after each list item. When the browser wraps, it replaces the space with a line feed, whose width is 0; therefore the background image doesn't show.
*/
ul.availability_list li:after {
    content: " ";
    letter-spacing: 1em;
    background:center center no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwAAADsABataJCQAAABl0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4xMkMEa+wAAAAnSURBVBhXY/Dz89MA4sNA/B9Ka4AEYQIwfBgkiCwAxjhVopnppwEApxQqhnyQ+VkAAAAASUVORK5CYII=);
}

div.performances {
    overflow: hidden;
}

div.performance h3 {
    padding-left: 25px;
    margin-bottom: 6px;
}

div.performance p {
    padding-left: 35px;
    margin-top: 4px;
    margin-bottom: 4px;
}

div.performance .map_link {
    font-size: 80%;
}

div.performance .directions_link {
    font-size: 80%;
}

div.past_performances div.year.even {
    overflow: hidden;
    clear: both;
    float: left;
    width: 50%;
}

div.past_performances div.year.odd {
    overflow: hidden;
}

div.past_performances div.performance a {
    pointer-events: none;
    text-decoration: none;
    color: currentColor;
}

div.past_performances span.map_link, div.past_performances span.directions_link {
    display: none;
}

div.musician_bios img {
    margin-bottom: 10px;
}

div.musician_bios div.bio {
    overflow: hidden;
}

div.musician_bios .odd img {
    float: left;
    margin-right: 10px;
}

div.musician_bios .even img {
    float: right;
    margin-left: 10px;
}

.contact_info {
    text-align: center;
}

.contact_info img {
    margin-top: 20px;
}

div.sample_programs {
    overflow: hidden;
}

div.audio_samples {
    overflow: hidden;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    border-bottom-style: ridge;
    border-bottom-width: medium;
}

div.program {
    overflow: hidden;
}

div.program h3 {
    padding-left: 25px;
    margin-bottom: 10px;
}

div.program h4 {
    padding-left: 25px;
    margin-top: 10px;
}

div.program table {
    padding-left: 25px;
}

div.program.left {
    clear: both;
    float: left;
    width: 50%;
}

.program th {
    vertical-align: top;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.program li {
    list-style-type: none;
    padding-left: 0;
}

div.program .audio_link {
    font-size: 80%;
}

.audio_samples ul {
    margin-top: 0;
}

.audio_samples li {
    list-style-type: none;
}
